/* =========comon css start here========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1150px;
  margin: 0 auto;
}

:root {
  --primeryFont: "Montserrat", sans-serif;
  --primeryColor: #036e8a;
}
/* ==========comon css ends here========= */

/* =========navber css start here========= */
#navber {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  top: 36px;
  left: 0;
  width: 100%;
}
.nav_wrapper {
  display: flex;
  align-items: center;
}
.nav_logo {
  width: 20%;
}
.nav_menu .nav_menu_item {
  display: flex;
  column-gap: 46px;
}
.nav_menu .nav_menu_item li a {
  color: var(--primeryColor);
  font-family: var(--primeryFont);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: all linear 0.4s;
}
.nav_menu .nav_menu_item li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  background-color: rgb(96, 4, 4);
  right: 0;
  bottom: -5px;
  transition: all linear 0.4s;
}
.nav_menu .nav_menu_item li a:hover::after {
  width: 100%;
}
.nav_icon {
  width: 20%;
  display: flex;
  justify-content: end;
  column-gap: 8px;
  cursor: pointer;
}
/* */
.nav_icon .nav_icon_svg {
  width: 23px;
  height: 23px;
  border: 1px solid #036e8a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_icon_svg i {
  font-size: 8px;
  color: #036e8a;
}

/* ==========navber css ends here========= */
/* =========bnner css start here========= */
#bnner {
  background: url(../images/bnner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 257px;
  padding-bottom: 200px;
}
.bnner_wrapper {
  max-width: 784px;
  margin: 0 auto;
}
.bnner_header {
  margin-bottom: 24px;
}

.bnner_header h1 {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 89px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.bnner_header h2 {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 89px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto;
}
.bnner_header h3 {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 89px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto;
}
.bnner_wrapper p {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 45px;
}
.bnner_input {
  position: relative;
}

.bnner_input input {
  width: 429px;
  height: 61px;
  border-radius: 10px;
  padding: 20px 134px 20px 96px;
  border: none;
  outline: none;
}
.bnner_input input::placeholder {
  color: #036e8a;
  font-family: var(--primeryFont);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search_icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 40px;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #036e8a;
}

.bnner_input_location {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.bnner_location {
  width: 58px;
  height: 58px;
  border: 1px solid #fff;
  background-color: #ff8000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ==========bnner css ends here========= */

/* =========only css start here========= */
#only {
  background-color: #036e8a;
  margin-bottom: 110px;
}
.only_wrapper {
  background: url(../images/onlyBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.only_main_content {
  display: flex;
  gap: 74px;
  align-items: center;
  padding: 69px 0;
}
.only_img {
  width: 508px;
  height: 523px;
  border-radius: 10px;
  overflow: hidden;
}
.only_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.only_content h4 {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.only_content h2 {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 567px;
  margin-bottom: 30px;
}
.only_content p {
  color: #fff;
  font-family: var(--primeryFont);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 530px;
}
/* ==========only css ends here========= */
