/* =========comon css start here========= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1150px;
  margin: 0 auto;
}

:root {
  --primeryFont: "Montserrat", sans-serif;
  --primeryColor: #036e8a;
}
/* ==========comon css ends here========= */


